@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat-sans: 'Montserrat', sans-serif;
  --font-lusitana-serif: 'Lusitana', serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat-sans);
  --font-serif: var(--font-lusitana-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
